{% extends 'base.html' %}
{% block title %}Authentication{% endblock %}


{% block content %}


    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex justify-center py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Reset your password
                    </h1>
                    <form class="space-y-4 md:space-y-6" method="post" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="mb-4 text-red-600 dark:text-red-400">{{ error }}</div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="mb-4 text-red-600 dark:text-red-400">{{ error }}</div>
                        {% endfor %}
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Your email </label>
                            <input type="email" name="email" id="email"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="name@company.com" required>
                        </div>
                        <button type="submit"
                                class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Reset Password
                        </button>
                    </form>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Remember your password? <a href="{% url 'account_login' %}"
                                                   class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign
                        in</a>
                    </p>
                </div>
            </div>
        </div>
    </section>




{% endblock content %}